<div class= "menu">
  <li class= 'button'><a href="/">Home</a></li>
  <!-- <li class= 'button'><a href="/all">See all Posts</a></li> -->
  <!-- <li class= 'button'><a href="/find">Search Posts by Tags</a></li> -->
</div>
