<div class="container">
  <h1>Flickr clone!</h1>
  <p> Albums by users </p>
  <% @albums.each do |album|%>
  <div class='post'>
    <a href="/albums/<%=album.id %>"><%= album.name%> by <%= album.user.name %></a><br>
  </div>
  <% end %>
</div>
